<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
</head>
  <body>
    <div>
      <br>
      <h1>
        Your Cart
      </h1>
      <img src="../../static/img/bk.JPG" width="30%" height="30%">
      <br>
      <hr>
      <br>
      <h2>Products in your cart:</h2>
      <br>
    </div>

  <div th:replace="footer.html ::copy"></div>
  </body>
</html>