<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>

  <!-- Bootstrap components -->
  <!-- Latest compiled and minified Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!--Latest compiled and minified Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
      <div class="jumbotron text-center">
            <h1>Codecool Shop</h1>
            <h2>Registration</h2>
            <!-- Find the right place for the menubar div -->
            <div>
                <a href="/"><button id="cart_button" class="btn btn-success">Home Page</button></a>
                <a href="/login"><button class="btn btn-success">Login</button></a>
            </div>
      </div>
      <div>
          <h1>Register Here!</h1>
      </div>
      <div class="container">
          <h3 th:if="${registeredEmail}"}>Registered Email</h3>
          <form class="forms" method="post">
              <input type="text" placeholder="username" name="username">
              <br>
              <input type="password" placeholder="password" name="password">
              <br>
              <input type="email" placeholder="email" name="email">
              <br>
             <input type="submit" class="btn btn-success" value ="registration">
          </form>

      </div>

      <div th:replace="footer.html :: copy"></div>

</body>
</html>